<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us/Number Plate Detection</title>   
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>About Us / Number Plate Detection</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
    </header>


    
    <footer class="footer">
      <p>&copy; All rights reserved.</p>
      <p class="footertext"></p>
  </footer>
</body>
</html>